.peopleContainer {
  display: flex;
  flex-flow: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  margin: 0 auto;
}

.peopleCard {
  border: 1px solid black;
  border-radius: 4px;
  height: 200px;
  width: 160px;
  cursor: pointer;
}

.peopleCardMax {
  width: 560px;
  height: 400px;
}
